<div class='form-page'>
    <ul class='form-panel'>
        <li>
            <label for='id_brand_name'>
                {{ form.brand_name.label }}
                <span class='soft'>
                    (required)
                </span>
            </label>
            {{ form.brand_name }}
        </li>
        <li>
            <label for='id_outlet_address'>
                {{ form.outlet_address.label }}
            </label>
            {{ form.outlet_address }}
        </li>
        <li>
<a href="/merchant/signup/">Back</a>
            <input class='button' type='submit' value='Continue' />
        </li>
    </ul>
    <div class='more-panel'>
        <h4>
            How will this be used?
        </h4>
        <p>
            The
            <strong>
                around!
            </strong>
            team can better advise you if we understand your business or a sample loyalty program.
        </p>
    </div>
</div>
