{% extends "pages/base.html" %}
{% block title %}
    around! About Us
{% endblock %}
{% block extra-css %}
    <link href='/static/css/around-how.css' rel='stylesheet' />
{% endblock %}
{% block main-content %}
    <div id='generic-content'>
        <div class='container_12'>
            <div class='grid_12'>
                <h1>
                    The Team
                </h1>
            </div>
        </div>
        <div class='container_12'>
            <div class='generic-panel grid_12'>
                <p>
                    The team at
                    <span class='emp'>
                        around!
                    </span>
                    is comprised of 7 wacky individuals, who are obsessed with giving you the best experience possible.
                </p>
                <div class='team'>
                    <div class='team-panel grid_2 alpha'>
                        <img src='/static/imgs/about/daxiang_team.jpg' />
                        <h6>
                            Daxiang, Apprentice
                        </h6>
                        <p>
                            Loves God, loves to travel & loves Krispy Kreme.
                        </p>
                    </div>
                    <div class='team-panel grid_2'>
                        <img src='/static/imgs/about/shuyang_team.jpg' />
                        <h6>
                            Shu Yang,
                            <br />
                            Dr. Eat-&-Make-Merry
                        </h6>
                        <p>
                            Takes his coffee black and his sleep light.
                        </p>
                    </div>
                    <div class='team-panel grid_2'>
                        <img src='/static/imgs/about/liling_team.jpg' />
                        <h6>
                            Li Ling, Business Development Assassin
                        </h6>
                        <p>
                            She shops and supplies.
                        </p>
                    </div>
                    <div class='team-panel grid_2'>
                        <img src='/static/imgs/about/taimin_team.jpg' />
                        <h6>
                            Tai Min,
                            <br />
                            Mobile Engineer cum King of K-Pop
                        </h6>
                        <p>
                            Man proposes, God disposes.
                        </p>
                    </div>
                    <div class='team-panel grid_2 omega'>
                        <img src='/static/imgs/about/esmond_team.jpg' />
                        <h6>
                            Esmond,
                            <br />
                            Design Master of the Mobile Order of Slick
                        </h6>
                        <p>
                            Imagination sets the pace, Reality has to play catch up.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class='container_12'>
            <div class='grid_5 suffix_1'>
                <h1 class='multi'>
                    Media
                </h1>
                <div class='generic-panel'>
                    <p>
                        Check out stories about us.
                    </p>
                    <ul>
                        <li>
                            <a href='http://it.zaobao.com.sg/pages10/itech111019.shtml'>
                                Lianhe Zaobao, October 2011 - 解读迷宫密码 QR Code
                            </a>
                        </li>
                        <li>
                            <a href='http://sg.news.yahoo.com/blogs/tech-talk/three-singapore-start-ups-mark-zuckerbergs-making-043638435.html'>
                                Yahoo! News Tech Talk, September 2011
                            </a>
                        </li>
                        <li>
                            <a href='http://www.youngupstarts.com/2011/08/22/around-adds-joy-to-location-based-loyalty-marketing-with-qr-codes/'>
                                Young Upstarts Blog, August 2011
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='grid_6'>
                <h1 class='multi'>
                    Backers
                </h1>
                <div class='generic-panel'>
                    <p>
                        We're backed by the below esteemed organisations. Bring It!
                    </p>
                    <div>
                        <img src='/static/imgs/about/NEClogo.png' />
                        <img src='/static/imgs/about/mda-logo.png' />
                        <img src='/static/imgs/about/incuvest-asia.png' />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
