{% extends "pages/base.html" %}
{% block title %}
    around! Successful Merchant Signup
{% endblock %}
{% block main-content %}
    <div id='generic-content'>
        <div class='container_12'>
            <div class='generic-panel grid_12'>
                <h1>
                    Thanks for contacting us!
                </h1>
                <p>
                    We'll get back to you as soon as is humanly possible.
                    <br />
Meanwhile, click <a href="/">here</a> to go back to the landing page.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
