{% extends "pages/base.html" %}
{% block title %}
    around! Support
{% endblock %}
{% block main-content %}
    <div id='generic-content'>
        <div class='container_12'>
            <div class='grid_12'>
                <h1>
                    Help! I need somebody.
                </h1>
            </div>
        </div>
        <div class='container_12'>
            <div class='grid_12 generic-panel'>
                Looking for some kind of help?
                <br />
                Facing problems getting your rewards?
                <br />
                Or would you like to give us some feedback?
                <br />
                You can contact us via email at
<a href="mailto:feedback@around.com.sg">feedback@around.com.sg</a>
            </div>
        </div>
    </div>
{% endblock %}
