<div class='scroll-panel'>
    <div class='inner-panel'>
        <img id='centerpiece-1' src='/static/imgs/centerpiece-1.png' />
        <div id='centerpiece1-text'>
            <div id='top'>
                <h2>
                    Forget Paper Loyalty Cards
                </h2>
            </div>
            <div id='bottom'>
                <h2>
                    Bring loyalty
                    <span class='emp'>
                        MOBILE
                    </span>
                </h2>
            </div>
        </div>
    </div>
</div>
