@import "around.scss";


#merchant-page { 
    background-color:$page-bgcolor;
    padding-bottom: 23px;
    h1, h2, h3, h4, h5, h6 { 
        color: $headings-color;
    }

    h1 { 
        display: block;
        margin-left: 18px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #merchant-grid { 
        background-color: white;
        /* rounded corners */
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        padding: 17px 17px;

        p { 
            display: block;
            margin: 4px 14px;
            padding-bottom: 13px;
            clear: both;
        }

        ul { 
            list-style-type: none;
            margin-bottom: 13px;
            li { 
                float: left;
                img { 
                    width: 113px;
                }
            }
        }
    }

    #merchant-signup-panel { 
        h3 { 
            color: white;
        }
        @include signup-panel-base;
        a { 
            text-decoration: none;
            &:link, &:visited { 
                color: white;
            }
            &:hover { 
                color: $nav-hover-color;
            }
        }
    }
}
