@import "around.scss";

$soft-color: rgb(191, 191, 191);
$signup-form-height: 460px;
$signup-form-width: 900px;
$form-panel-width: 490px;

$state-bar-active-color: rgb(254, 114, 0);
$state-bar-color: rgb(252,215,215);

.heading { 
    display: block;
    color: rgb(96, 46, 19);
    float: left;
    font-size: 36px;
}
#signup-page { 

    background-color: $page-bgcolor;
    padding: { 
        top: 56px;
        bottom: 37px;
    }

    #signup-form { 

        background-color: white;
        display: block;
        /* rounded corners */
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;

        ul#messages { 

            width: 80%;
            margin: 12px auto;
            list-style-type: none;
            border: 1px solid rgb(163, 98, 10);
            background-color: rgb(255, 247, 220);
            padding: 14px 19px;
        }


        #signup-state-bar { 

            display: block;
            clear: both;
            margin: { 
                top: 23px;
                left: 29px;
            }
             & > div { 
                float: left;
            }
            .state-part {
                float: left;
                .step-bullet { 
                    float: left;
                    height: 45px;
                    width: 45px;
                    text-align:center;
                    background: url(/static/imgs/light-orange-circle.png) no-repeat;
                    &.active { 
                        background: url(/static/imgs/dark-orange-circle.png) no-repeat;
                    }
                    .text { 
                        color: white;
                        font-size: 13px;
                        padding: 0;
                        margin: { 
                            top: 3px;
                        }
                        font-weight: bold;
                    }
                    .number {
                        color: white;
                        font-size: 19px;
                        font-weight: bolder;
                        padding: 0;
                        margin: {
                            top: -7px;
                        }
                    }
                } /* end .step-bullet */
                .step-label { 
                    float: left;
                    color: $state-bar-color;
                    padding: 10px 13px;
                    margin-right: 12px;
                    font-weight: bolder;
                    font-size: 18px;
                    &.active { 
                        color: $state-bar-active-color;
                    }
                } /* end .step-label */
            } /* end .state-part */
        } /* end #signup-state-bar */

        label { 
            font-size: 17px;
            font-weight: bold;
            width: auto;
            padding: { 
                left: 7px;
                bottom: 6px;
            }
            span.soft { 
                color: $soft-color;
            }
        }
        ul { 
            list-style-type: none;
            li { 
                padding-bottom: 6px;
            }
        }

        .form-panel { 
            margin-top: 45px;
            float: left;
            width: $form-panel-width;
            input[type=submit] { 
                margin-top: 23px;
            }
            .action { 
                margin-top: 74px;
                a {
                    float: right;
                    width: 83px;
                    text-align: center;
                    font-size: 17px;
                }
            }
        } /* end .form-panel */

        .more-panel { 
            margin-top: 45px;
            margin-right: 23px;
            float: left;
            background-color: rgb(235, 235, 235);
            width: $signup-form-width - $form-panel-width - 3*34px;
            margin-left: 34px;
            /* rounded corners */
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            padding: 12px 12px;
        }

    } /* end #signup-form */

}
